/*
   If you are looking for the code of this site:
   https://github.com/hugurp/tobha
 */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* box-sizing border-box */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Custom */
body {
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.8px;
}

a,
a:hover,
a:visited,
a:active {
    color: white;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.Section {
    padding-left: 1rem;
    padding-right: 1rem;
}
.Section--header {
    padding-top: 1rem;
}
.Section--header h1 {
    display: inline-block;
    font-size: 2rem;
}
.Section--slide {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-grow: 1;
}
@media (min-width: 800px) {
    .Section--slide {
	display: flex;
    }
}
.Iframe {
    width: 100%;
    min-height: 70vh;
}
/* .Iframe {
   max-height: 70vh;
   flex-grow: 1;
   flex-basis: 50%;
   margin-bottom: 2rem;
   }
   @media (min-width: 800px) {
   .Iframe {
   height: 100%;
   max-height: none;
   margin-bottom: 0;
   }
   } */
.Instagram {
    flex-grow: 1;
    max-height: 50vh;
    overflow-x: scroll;
    padding-top: 1rem;
}
@media (min-width: 800px) {
    .Instagram {
	max-height: none;
	margin-left: 1rem;
    }
}
.ImageFeed-userName {
    display: none;
}
.ImageFeed-list {
    display: flex;
}
.ImageFeed-item {
    padding-right: 1rem;
}
.ImageFeed-item img {
    display: block;
    max-width: 15rem;
}
@media (min-width: 800px) {
    .ImageFeed-item img {
	max-width: none;
	max-height: 80vh;
    }
}

